<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.csi.sbs.deposit.business.dao.AccountMasterDao" >
  <resultMap id="BaseResultMap" type="com.csi.sbs.deposit.business.entity.AccountMasterEntity" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="AccountNumber" property="accountnumber" jdbcType="VARCHAR" />
    <result column="AccountType" property="accounttype" jdbcType="VARCHAR" />
    <result column="AccountStatus" property="accountstatus" jdbcType="VARCHAR" />
    <result column="CurrencyCode" property="currencycode" jdbcType="VARCHAR" />
    <result column="Balance" property="balance" jdbcType="DECIMAL" />
    <result column="LastUpdatedDate" property="lastupdateddate" jdbcType="TIMESTAMP" />
    <result column="ChequeBookType" property="chequebooktype" jdbcType="VARCHAR" />
    <result column="ChequeBookSize" property="chequebooksize" jdbcType="DECIMAL" />
    <result column="CustomerPrimaryKeyID" property="customerprimarykeyid" jdbcType="VARCHAR" />
  </resultMap>
  
  <select id="findAccountByParams" resultMap="BaseResultMap" parameterType="com.csi.sbs.deposit.business.entity.AccountMasterEntity" >
    select * from t_account_master
    where 1=1
    <if test="accountnumber != null and accountnumber !=''" >
       and AccountNumber = #{accountnumber,jdbcType=VARCHAR}
    </if>
    <if test="accounttype != null and accounttype !=''" >
       and AccountType = #{accounttype,jdbcType=VARCHAR}
    </if>
    <if test="currencycode != null and currencycode !=''" >
       and CurrencyCode = #{currencycode,jdbcType=VARCHAR}
    </if>
  </select>
  
  <delete id="delete" parameterType="java.lang.String" >
    delete from t_account_master
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  
  <insert id="insert" keyProperty="accountnumber" parameterType="com.csi.sbs.deposit.business.entity.AccountMasterEntity" >
    insert into t_account_master
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="accountnumber != null" >
        AccountNumber,
      </if>
      <if test="accounttype != null" >
        AccountType,
      </if>
      <if test="accountstatus != null" >
        AccountStatus,
      </if>
      <if test="currencycode != null" >
        CurrencyCode,
      </if>
      <if test="balance != null" >
        Balance,
      </if>
      <if test="lastupdateddate != null" >
        LastUpdatedDate,
      </if>
      <if test="chequebooktype != null" >
        ChequeBookType,
      </if>
      <if test="chequebooksize != null" >
        ChequeBookSize,
      </if>
      <if test="customerprimarykeyid != null" >
        CustomerPrimaryKeyID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="accountnumber != null" >
        #{accountnumber,jdbcType=VARCHAR},
      </if>
      <if test="accounttype != null" >
        #{accounttype,jdbcType=VARCHAR},
      </if>
      <if test="accountstatus != null" >
        #{accountstatus,jdbcType=VARCHAR},
      </if>
      <if test="currencycode != null" >
        #{currencycode,jdbcType=VARCHAR},
      </if>
      <if test="balance != null" >
        #{balance,jdbcType=DECIMAL},
      </if>
      <if test="lastupdateddate != null" >
        #{lastupdateddate,jdbcType=TIMESTAMP},
      </if>
      <if test="chequebooktype != null" >
        #{chequebooktype,jdbcType=VARCHAR},
      </if>
      <if test="chequebooksize != null" >
        #{chequebooksize,jdbcType=DECIMAL},
      </if>
      <if test="customerprimarykeyid != null" >
        #{customerprimarykeyid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="update" parameterType="com.csi.sbs.deposit.business.entity.AccountMasterEntity" >
    update t_account_master
    <set >
      <if test="accountnumber != null" >
        AccountNumber = #{accountnumber,jdbcType=VARCHAR},
      </if>
      <if test="accounttype != null" >
        AccountType = #{accounttype,jdbcType=VARCHAR},
      </if>
      <if test="accountstatus != null" >
        AccountStatus = #{accountstatus,jdbcType=VARCHAR},
      </if>
      <if test="currencycode != null" >
        CurrencyCode = #{currencycode,jdbcType=VARCHAR},
      </if>
      <if test="balance != null" >
        Balance = #{balance,jdbcType=DECIMAL},
      </if>
      <if test="lastupdateddate != null" >
        LastUpdatedDate = #{lastupdateddate,jdbcType=TIMESTAMP},
      </if>
      <if test="chequebooktype != null" >
        ChequeBookType = #{chequebooktype,jdbcType=VARCHAR},
      </if>
      <if test="chequebooksize != null" >
        ChequeBookSize = #{chequebooksize,jdbcType=DECIMAL},
      </if>
      <if test="customerprimarykeyid != null" >
        CustomerPrimaryKeyID = #{customerprimarykeyid,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
  <update id="closeAccount" parameterType="com.csi.sbs.deposit.business.entity.AccountMasterEntity" >
    update t_account_master
    <set >
      <if test="accountstatus != null" >
        AccountStatus = #{accountstatus,jdbcType=VARCHAR},
      </if>
      <if test="lastupdateddate != null" >
        LastUpdatedDate = #{lastupdateddate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where AccountNumber = #{accountnumber,jdbcType=VARCHAR}
     and AccountType = #{accounttype,jdbcType=VARCHAR}
  </update>
  
  <update id="deposit" parameterType="com.csi.sbs.deposit.business.entity.AccountMasterEntity" >
    update t_account_master
    <set >
      <if test="balance != null" >
        Balance = #{balance,jdbcType=DECIMAL},
      </if>
      <if test="lastupdateddate != null" >
        LastUpdatedDate = #{lastupdateddate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where AccountNumber = #{accountnumber,jdbcType=VARCHAR}
  </update>
  
  <update id="withdrawal" parameterType="com.csi.sbs.deposit.business.entity.AccountMasterEntity" >
    update t_account_master
    <set >
      <if test="balance != null" >
        Balance = #{balance,jdbcType=DECIMAL},
      </if>
      <if test="lastupdateddate != null" >
        LastUpdatedDate = #{lastupdateddate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where AccountNumber = #{accountnumber,jdbcType=VARCHAR}
  </update>
  
  <update id="chequeBookRequest" parameterType="com.csi.sbs.deposit.business.entity.AccountMasterEntity" >
    update t_account_master
    <set >
      <if test="chequebooktype != null" >
        ChequeBookType = #{chequebooktype,jdbcType=VARCHAR},
      </if>
      <if test="chequebooksize != null" >
        ChequeBookSize = #{chequebooksize,jdbcType=DECIMAL},
      </if>
    </set>
    where AccountNumber = #{accountnumber,jdbcType=VARCHAR}
  </update>
  
</mapper>